@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

:root {
    --color-primary-darkest: #1f363d;
    --color-primary-dark: #40798c;
    --color-primary-light: #70a9a1;
    --color-text: #e1eadb;

}
* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
h1 {
    color: var(--color-text);
    font-size: 2.2rem;
    margin-bottom: 3rem;
}

.btn {
    background-color: var(--color-primary-darkest);
    border-radius: 5px;
    border: none;
    text-transform: capitalize;
    color: var(--color-text);
    margin: 1rem;
    padding: 1.5rem 3rem;
    font-size: 1.2rem;
    font-family: inherit;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}

.btn:focus {
    outline: none;
}